Repository voxpupuli/puppet-postfix, pull requests merged in 2021-10, with the labels that each got.

#307 Add support for FreeBSD 13
  metadata.json
Labels: enhancement

#306 Drop support for FreeBSD 11 (EOL)
  metadata.json
Labels: backwards-incompatible

#296 allow hiera driven transport/virtual/hash/conffile
  manifests/hash.pp
  manifests/init.pp
  spec/classes/postfix_spec.rb
Labels: enhancement

#312 Add manage_mailname parameter to README (#186)
  README.md
  manifests/init.pp
Labels: docs
