Repository voxpupuli/puppet-postfix, pull requests merged in 2023-05, with the labels that each got.

#352 modulesync 6.0.0
  .msync.yml
  Gemfile
Labels: modulesync

#256 init.pp: use the postfix default for mydestination
  manifests/init.pp
Labels: backwards-incompatible

#356 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
