Repository voxpupuli/puppet-postfix, pull requests merged in 2024-10, with the labels that each got.

#404 bump puppet-alternatives version constraint
  metadata.json
Labels: enhancement

#405 drop support for freebsd 12 -- EOL
  metadata.json
Labels: backwards-incompatible

#406 drop support for fedora 33 & 34 -- EOL
  metadata.json
Labels: backwards-incompatible

#407 drop support for EL7 -- EOL
  metadata.json
Labels: backwards-incompatible

#408 drop support for debian 10 -- EOL
  metadata.json
Labels: backwards-incompatible

#409 drop support for centos 8 -- EOL
  metadata.json
Labels: backwards-incompatible

#410 drop support for ubuntu 18.04 -- EOL
  metadata.json
Labels: backwards-incompatible

#411 rm duplicated spec example
  spec/classes/postfix_spec.rb
Labels: skip-changelog

#412 drop support for SLES 11 & 12 -- EOL
  data/osfamily/Suse.yaml
  data/osfamily/Suse/11.yaml
  templates/master.cf.SLES11.2.erb
  templates/master.cf.SLES11.3.erb
  templates/master.cf.SLES11.4.erb
  templates/master.cf.SLES12.2.erb
  templates/master.cf.SLES12.3.erb
  templates/master.cf.sles.erb
Labels: backwards-incompatible

#413 Release 4.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#414 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
